<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>

        <meta-data
            android:name="vivo_union_sdk"
            android:value="4.2.4.0" />

        <!-- vivo 支付所有东西 start -->
        <!-- sdk start -->

        <!-- vivo支付的Activity -->
        <activity
            android:name="com.vivo.unionsdk.ui.UnionActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="union.vivo.com"
                    android:path="/openjump"
                    android:scheme="vivounion" />
            </intent-filter>
        </activity>
        <!-- vivo 支付所有东西 end -->
    </application>

    <uses-permission android:name="vivo.game.permission.OPEN_JUMP_INTENTS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
</manifest>